# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment folder
venv/
.venv/

# Flask / Python environment files
instance/
*.env
.flaskenv

# Migrations
migrations/

# SQLite database file
*.db
*.sqlite3

# Flask cache
flask_session/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS files
.DS_Store

# Logs and temporary files
*.log
*.bak
*.swp
*.tmp
*.temp
*.pid
*.seed

# IDE / Editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# pyenv
.python-version

# Test and coverage reports
htmlcov/
.coverage
.tox/
dist/
build/
*.egg-info/
.eggs/
.pytest_cache/

# MyPy cache
.mypy_cache/

# Profiling data
.prof
